node_modules
npm-debug.log*

.env
.env.*
!.env.example

logs
*.log

.git
.gitignore

.vscode
.idea

coverage
.nyc_output

.ai-agents
.claude
postman

Dockerfile
docker-compose.yml
.dockerignore

README.md
